{% extends "base.html" %}

{% block title %}
	Login
{% endblock %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block content %}
    <div class="registration-form-wrapper">
        <div>
            <h3>Login</h3>
        </div>
        
        {% if message %}
            {{ message }}
        {% endif %}

        <form method="POST" action="">
            <div class="mb-3">
                <label for="username" class="form-label was-validated">Username</label>
                <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" required>

            </div>

            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>

        <div>
            <a href="/register">New here? Sign up</a>
        </div>

    </div>
{% endblock %}
